@font-face {
  font-family: 'Segoe WP';
  src: url('./fonts/SegoeWP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Lucida Sans';
  src: url('./fonts/LSANSI.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Asap';
  src: url('./fonts/Asap-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Segoe UI';
  src: url('./fonts/SegoeUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'Segoe WP Light';
  src: url('./fonts/Segoe\ WP\ Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'PT Sans';
  src: url('./fonts/PT\ Sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'Segoe UI Bold';
  src: url('./fonts/Segoe\ UI\ Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Narrow';
  src: url('./fonts/PT\ Sans\ Narrow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Light';
  src: url('./fonts/Segoe\ UI\ Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url('./fonts/ArialRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.wrapper {
  background: url('./images/Layer_20.png');
  max-width: 1300px;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  
  width: 100%;
}


.content {
  max-width:1020px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navbar .navbar-items {
  display: flex;
  width: 453px;
  height: 41px;
  background:  #f5c505;
  margin-top: 71px;
  box-shadow: -4px -5px rgba(245, 197, 5, 0.27), -8px -8px rgba(245, 197, 5, 0.27);
}

.navbar a{
  font-size: 17px;
  letter-spacing: 0px;
  color: #9b7d08;
  font-family: "Segoe WP";
  text-decoration: none;
}

.navbar .navbar-items div{
  align-items: center;
  display: flex;
}

.navbar-items div p {
  margin-left: 9px;
}


.about-us{
  width: 172px;
  height: 41px;
}

.about-us:hover {
  background-color: #ffdd53;
}

.services {
  width: 132px;
  height: 41px;
  border-right: 1px solid #dcb105;
  border-left:  1px solid #dcb105;
}

.services:hover {
  background-color: #ffdd53;
}

.contact {
  width: 149px;
  height: 41px;
}

.contact:hover {
  background-color: #ffdd53;
  width: 147px;
}

.about-icon {
   margin-left: 39px;
}

.services-icon {
  margin-left: 14px;
}

.contact-icon {
  margin-left: 17px;
}

.logo {
  margin-top: 28px;
  position: relative;
  display: flex;
}

.high-logo-layer {
  position: absolute;
  margin-top: -1px;
  margin-left: -1px;
}

.low-logo-layer {
  margin-left: 2px;
  height: 81px;
}

.logo__text {
  font-family: "Lucida Sans";
  font-size: 41px;
  color: #ffffff;
  font-family: "Lucida Sans";
  font-style: italic;
  text-align: center;
  margin-top: 27px;
  margin-left: 6px;
  letter-spacing: 0.3px;
}

.main-video{
  margin-top: 57px;
}

.main-video video {
  width: 549px;
  height: 327px;
}

.mobile-version {
  display: none;
}

.side-headlines__first-line {
  font-size: 63px;
  letter-spacing: 1px;
  color: #f5c506;
  font-family: "Asap";
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.4px;
}

.red {
  color: red;
}

.side-headlines__second-line {
  font-size: 63px;
  color: #ffffff;
  font-family: "Asap";
  font-weight: 400;
  margin-top: 14px;
  letter-spacing: 0.4px;
}

.blue {
  color: #01f5c0;
}

.side-headlines {
  height: 132px;
  margin-top: 146px;
  margin-left: 51px;
}

.click-right {
  width: 32px;
  height: 57px;
  background-color: #f5c506;
  margin: 0 0 0 auto;
  position: absolute;
  right: 0px;
  top: 189px;
  cursor: pointer;
  z-index: 6;
}

.click-left {
  width: 32px;
  height: 57px;
  background-color: #f5c506;
  position: absolute;
  top: 189px;
  cursor: pointer;
  z-index: 6;
}

.banner-container {
  position: relative; 
}


.click-left__icon {
  margin-top: 19px;
  margin-left: 8px;
}

.click-right__icon {
  margin-top: 18px;
  margin-left: 11px;
}

.click-left:hover{
  background-color:  #ffdd53;
}

.click-right:hover{
  background-color:  #ffdd53;
}

.icon-area {
  height: 212px;
  width: 100%;
  background: url('./images/icon-background.png');
  margin-top: 67px;
  box-shadow: 0 -6px rgba(0, 0, 0, 0.18), 0 3px rgba(0, 0, 0, 0.5);
}

.icon-area content{
  justify-content: center;
}

.better-design {
  border-left: 1px solid rgba(212, 212, 212, 1);
  max-width: 338px;
  width: 100%;
  height: 212px;
  padding-top: 0.1px;
}

.better-design:hover {
  background: #ffffff;
}

.customise {
  border-left: 1px solid rgba(212, 212, 212, 1);
  border-right: 1px solid rgba(212, 212, 212, 1);
  max-width: 338px;
  width: 100%;
  height: 212px;
  padding-top: 0.1px;
}

.customise:hover {
  background: #ffffff;
}

.its-free {
  border-right: 1px solid rgba(212, 212, 212, 1);
  max-width: 338px;
  width: 100%;
  height: 212px;
  padding-top: 0.1px;
}

.its-free:hover {
  background: #ffffff;
}

.better-design__icon {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}


.customise__icon {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.its-free__icon {
  display: flex;
  justify-content: center;
  margin-top: 52px;
}

.icon-area-link {
  display: block;
  text-decoration: none;
  width: 339px;
  height: 212px;
}

.better-design__text,
.customise__text,
.its-free__text {
  font-size: 27px;
  letter-spacing: 0.4px;
  color: #000000;
  font-family: "Segoe UI Light";
  font-weight: 300;
  text-align: center;
}

.better-design__text {
  margin-top: 9px;
}

.customise__text {
  margin-top: 12px;
}

.its-free__text {
  margin-top: 7px;
}

.lorem {
  height: 509px;
  max-width: 1300px;
  background: url('./images/lorem-background.png');
}

.lorem__heading {
  font-size: 37px;
  letter-spacing: 0.3px;
  color: #ffffff;
  font-family: "PT Sans";
  font-weight: 400;
  margin-left: 1px;
  margin-top: 37px;
  
}

.lorem-description {
  width: 341px;
  height: 233px;
  background-color: #ec9e03;
  margin-top: 35px;
}

.lorem-description a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.lorem-description__text {
  font-size: 29px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #ffffff;
  font-family: "Segoe WP Light";
  font-weight: 300;
  margin-top: 16px;
  margin-left: 30px;
  text-align: left;
}

.lorem-description__plus {
  margin-right: 14px;
  text-align: right;
}

.lorem-description__plus a {
  display: block;
}

.lorem-video {
  margin-top: 35px;
}

.lorem-video video{
  width: 315px;
  height: 232px;
}

.twitter-messages {
  max-width: 329px;
  width: 100%;
  height: 233px;
  background-color: #ec9e03;
  margin-left: 34px;
  margin-top: 35px;
}

.twitter-messages a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.twitter-messages a:hover {
  color: #6e6e6e;
}

.lorem-description a:hover {
  color: #6e6e6e;
}

.twitter-messages__icon {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.twitter-messages__number {
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #ffffff;
  font-family: "Segoe WP Light";
  font-weight: 300;
  text-align: right;
  margin-right: 19px;
  margin-top: 10px;
}

.twitter-messages__plus {
  margin-top: 10px;
  margin-right: 15px;
  text-align: right;
}


.date {
  background-color: #ddb101;
  width: 113px;
  height: 86px;
  margin-top: -1.7px;
}

.date__number {
  font-size: 51px;
  letter-spacing: 1px;
  line-height: 38px;
  color: #ffffff;
  font-family: "Segoe UI Bold";
  margin-top: 14px;
  margin-left: 30px;
}

.date__month {
  font-size: 21px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #b26529;
  font-family: "Segoe UI";
  margin-left: 32px;
  margin-top: -1px;
}

.range {
  display: flex;
  justify-content: center;
}

.range-rec {
  -webkit-appearance: none;
  width: 896px;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.48;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 43px;
  border-radius: 7px;
  background-color: #ffffff;
  opacity: 48%;
}

.range-rec::-webkit-slider-thumb {
  width: 197px;
  height: 15px;
  -webkit-appearance: none;
  appearance: none;
  background: #ec9e03;
  cursor: pointer;
  border-radius: 7px;
}

.offers {
  max-width: 1300px;
  height: 499px;
  background: url('./images/offers-background.png');
  position: relative;
}

.offers .content:first-child {
  justify-content: center;
}

.offers__headline {
  font-size: 43px;
  letter-spacing: 0.3px;
  color: #f5c506;
  font-family: "PT Sans";
  font-weight: 400;
  margin-top: 41px;
}

.desktop {
  width: 323px;
  height: 255px;
  margin-left: 18px;
  margin-top: 53px;
}

.tablet {
  width: 129px;
  height: 173px;
  margin-left: 24px;
  margin-top: 95px;
}

.mobile {
  width: 39px;
  height: 63px;
  margin-left: 25px;
  margin-top: 205px;
}

.offers-points {
  list-style-type: disc;
  list-style-image: url('./images/Ellipse\ 4.svg');
  font-size: 22px;
  letter-spacing: 0px;
  color: #a9a9a7;
  font-family: "Open Sans";
  font-weight: 400;
  margin-left: 102px;
  margin-top: 98px;
  line-height: 25px;
}

.offers-points__item {
  margin-top: 18px;
}


.free-rectangle {
  width: 116px;
  height: 116px;
  border-radius: 58px;
  background-color: #f5c506;
  position: absolute;
  
}

.free-offer {
  font-size: 19px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "PT Sans Narrow";
  font-weight: 700;
  margin-top: 51px;
  margin-left: 7px;
}

footer {
  max-width: 1300px;
  height: 64px;
  background-color: #4c4c4c;
  margin-top: 100px;
  
}

.footer-logo {
  margin-top: 3.5px;

  position: relative;
  display: flex;
}

.high-footer-logo-layer {
  position: absolute;
  width: 54px;
  height: 54px;
  margin-top: -1px;
}

.low-footer-logo-layer {
  margin-left: 1px;
  width: 51px;
  height: 51px;
}

.footer-content {
  max-width:1020px;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  
}

.footer-logo__text {
  font-size: 29px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Lucida Sans";
  font-style: italic;
  text-align: center;
  margin-top: 14px;
  margin-left: 9px;
  
}

.offers-points p {
  margin-left: 10px;
}

.back-1,
.back-2,
.lorem-text-mobile {
  display: none;
}

.twitter-mobile-version {
  display: none;
}

@media screen and (max-width: 1120px) {
  .item {
    justify-content: center;
    max-width: 840px; 
  }

  .navbar {
    margin-right: 20px;
    margin-left: 30px;
  }

  .side-headlines{
    margin-left: 30px;
    display: block;
    
  }
  .side-headlines__first-line {
    font-size: 50px;
  }
  

  .side-headlines__second-line {
    font-size: 50px;
  }

  .main-video video {
    width: 480px;
  }
}

@media screen and (max-width: 1050px) {
  .its-free {
    border-right: none;
    
  }
  
  .lorem .content {
    margin-left: 10px;
    margin-right: 10px;
  }  
  
  .lorem-description {
    max-width: 341px;
    width: 100%;
  } 
  
  .lorem-description__plus {
    margin-top: 17px;
    margin-right: 14px;
    text-align: right;
  }

  .lorem-description__text {
    width: 220px;
    font-size: 20px;
    line-height: 35px;
    margin-left: 20px;
  }

}

@media screen and (max-width: 940px) {
  .navbar a{
    font-size: 14px;
  }

  .item {
    max-width: 700px;
  }

  .navbar .navbar-items {
    width: 413px;
  }

  .about-us{
    width: 152px;
    height: 41px;
  }

  .about-icon {
    margin-left: 29px;
 }

  .services {
    width: 122px;
  }

  .contact {
    width: 139px;
  }

  .contact:hover {
    background-color: #ffdd53;
    width: 137px;
  }

  .side-headlines__first-line {
    font-size: 40px;
    letter-spacing: 0px;
  }

  .side-headlines__second-line {
    font-size: 40px;
    letter-spacing: 0px;
  }

  .main-video video {
    width: 400px;
    height: 300px;
  }

  .icon-area {
    margin-top: 94px;
  }

  .desktop {
    width: 300px;
    height: 255px;
    margin-left: 18px;
    margin-top: 53px;
  }

  .tablet {
    width: 110px;
    height: 173px;
    margin-left: 24px;
    margin-top: 95px;
  }

  .offers-points {
    font-size: 18px;
    color: #a9a9a7;
    font-family: "Open Sans";
    font-weight: 400;
    margin-left: 50px;
    margin-top: 98px;
    line-height: 20px;
  }

}

@media screen and (max-width: 880px) {

  .twitter-messages__icon img {
    width: 120px;
    height: 120px;
  }
}


@media screen and (max-width: 780px) {


.wrapper { 
  max-width: 640px;
  width: 640px;
  margin: 0 auto;
}

header {
  display: flex;
  width: 640px;
  height: 62px;
}

.navbar {
  margin-right: 0;
  margin-left: 0;
}

.logo__text {
  font-size: 19px;
  margin-top: 0px;
  margin-left: 0px;
  margin-top: 24px;
  margin-left: 7px;
  }

.logo {
  margin-top: 0;
  width: 186px;
  height: 62px;
  background: url('./images/mobile-theyalow-background.png');
  opacity: 0.9;
}

.high-logo-layer {
  width: 40px;
  height: 39px;
  top: 11px;
  left: 12px;
}

.low-logo-layer {
  margin-left: 0px;
  height: 38px;
  width: 37px;
  margin-top: 11px;
  margin-left: 13px;
}



.navbar .navbar-items {
  width: 455px;
  height: 62px;
  margin-top: 0px;
  box-shadow: 0;
}

.navbar a{
  font-size: 19px;
  margin-left: 0;
}

.about-icon {
  margin-left: 24px;
  width: 24px;
  height: 22px;
}

.services-icon {
  margin-left: 8px;
  width: 22px;
  height: 22px;
}

.contact-icon {
  margin-left: 12px;
  width: 28px;
  height: 21px;
}

.about-us,
.contact,
.services {
  height: 62px;
}

.about-us {
  width: 171px;
}

.services {
  width: 132px;
}

.contact {
  width: 149px;
}

.contact:hover {
  background: #ffdd53;
  width: 149px;
}

.main-video video {
  width: 640px;
  height: 327px;
}

.click-left,
.click-right,
.side-headlines {
  display: none;
}

.content {
  max-width:640px;
  margin: 0 0 0 0;
  display: flex;
  justify-content: left;
  position: relative;
  z-index: 3;
}

.desktop-version {
  display: none;
}

.mobile-version {
  display: block; 
}

.main-video{
  margin: 0 0 0 0;
  width: 640px;
  height: 327px;
}

.banner-container {
  display: flex;
  justify-content: left; 
}

.wrapper {
  background: none;
}

.icon-area {
  max-width: 640px;
  height: 170px;
  background: none;
  margin-top: 0;
  box-shadow: none;
  position: relative;
  z-index: 3;
  background: #ffffff;
}

.icon-area .content {
  height: 170px;
}

.icon-area-link {
  height: 170px;
}

.better-design,
.customise,
.its-free {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 213.33px;
  height: 170px;
  z-index: 3;
}

.better-design__icon,
.customise__icon,
.its-free__icon {
  margin-left: 0;
  margin-top: 0;
  z-index: 3;
}

.better-design {
  border-left: none;
}

.customise {
  border-left: none;
  border-right: none;
}

.its-free {
  border-right: none;
}

.better-design__text,
.customise__text,
.its-free__text {
  font-size: 23px;
  z-index: 3;
}

.better-design__text {
  margin-top: 25px;
  z-index: 3;
  letter-spacing: 0.3px;
}

.customise__text {
  margin-top: 5px;
  z-index: 3;
  letter-spacing: 0.3px;
}

.its-free__text {
  margin-top: 15px;
  z-index: 3;
}

.back-1 {
  position: absolute;
  z-index: 2;
  margin-top: -4px;
  opacity: 1;
  display: block;
}

.back-2 {
  position: absolute;
  z-index: 1;
  margin-top: -9px;
  opacity: 0.4;
  display: block;
}

.lorem__heading,
.lorem-description__text {
  display: none;
}

.lorem {
  max-width: 640px;
  background: none;
  height: auto;
}

.lorem-description {
  width: 299px;
  background-color: #ec9e03;
  margin-top: 11px;
  margin-left: 9px;
  height: 232px;

}

.lorem-text-mobile {
  width: 235px;
  height: 192px;
  font-size: 29px;
  letter-spacing: 0.2px;
  display: block;
  color: #ffffff;
  font-family: "Segoe WP Light";
  font-weight: 300;
  margin-top: 18px;
  margin-left: 26px;
  text-align: left;
  text-decoration: none;
  line-height: 32px;
}

a {
  text-decoration: none;
}

.lorem-description__plus {
  margin-left: 276px;
  margin-top: -9px;
  width: 14px;
}

.lorem-content {
  max-width:640px;
  margin: 0 0;
  display: flex;
  justify-content: left;
}

.lorem-video {
  margin-top: 11px;
  margin-left: 7px;
}

.twitter-messages,
.range-rec,
.date,
.offers-points {
  display: none;
}

.offers {
  max-width: 640px;
  height: 461px;
}

.offers__headline {
  font-size: 39px;
  letter-spacing: 2px;
  width: 590px;
  margin-left: 19px;
  margin-top: 37px;
}

.offers-content {
  max-width:640px;
}

.desktop {
  margin-left: 57px;
  margin-top: 80px;
}

.tablet {
  margin-left: 24px;
  margin-top: 122px;
}

.mobile {
  margin-left: 25px;
  margin-top: 232px;
}

.free-rectangle {
  top: 42px;
}

.free-offer {
  font-size: 19px;
  letter-spacing: 0.4px;
  margin-top: 51px;
  margin-left: 7px;
}

footer {
  max-width: 640px;
  height: 50px;
}

.footer-logo {
  margin-top: 12px;
  margin-left:65px;
}

.high-footer-logo-layer {
  position: absolute;
  width: 31px;
  height: 31px;
  margin-top: -1px;
}

.low-footer-logo-layer {
  margin-left: 1px;
  width: 29px;
  height: 29px;
}

.footer-content {
  max-width:640px;
}

.footer-logo__text {
  font-size: 17px;
  margin-top: 7px;
  margin-left: 10px;
}

.twitter-mobile-version {
  display: flex;
  width: 640px;
  justify-content: left;
  height: 233px;
  margin-top: 6px;
}

.twitter-mobile-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 317px;
  height: 233px;
  background-color: #f5c507;
}

.twitter-mobile-messages {
  background-color: #f5c507;
  width: 323px;
  height: 233px;
  position: relative;
}

.twitter-mobile-message-1 {
  margin-left: 6px;
  margin-top: 23px;
}

.twitter-mobile-message-2 {
  margin-left: 6px;
  margin-top: 10px;
  opacity: 0.6;
}

.twitter-mobile-message-3 {
  margin-left: 6px;
  margin-top: 10px;
  opacity: 0.4;
}

.twitter-message-text-1 {
  position: absolute;
  top: 31px;
  left: 34px;
  width: 220px;
  height: 28px;
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 0.14px;
  line-height: 15px;
  color: #8f8e8e;
}

.twitter-message-text-2 {
  position: absolute;
  top: 87px;
  left: 34px;
  width: 220px;
  height: 28px;
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 0.14px;
  line-height: 15px;
  color: #424141;
}

.twitter-message-text-3 {
  position: absolute;
  top: 143px;
  left: 34px;
  width: 220px;
  height: 28px;
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 0.14px;
  line-height: 15px;
  color: #5c5b5b;
}

#send-message {
  width: 270px;
  height: 29px;
  display: flex;
  margin-top: 11px;
  margin-left: 20px;
}

.message-text {
  width: 201px;
  height: 27px;
  border: 0.1px solid #fff;
  border-radius: 10px 0 0 10px;
  background-color: #ffffff;
}

.submit {
  width: 69px;
  height: 29px;
  font-family: Arial;
  background-color: #e9a725;
  border: 0.1px solid #e9a725;
  font-size: 15px;
  letter-spacing: 0px;
  color: #ffffff;
  border-radius: 0 10px 10px 0;
}
}

/* slider */
 .item {
  animation: 1s ease-in-out;
  position: relative;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  display: none;
}

.active,
.next {
  display: flex;
  justify-content: center;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.banner-container {
  overflow: hidden;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
